# ===== Variabel Environment =====

# Database
# Kredensial PostgreSQL yang digunakan oleh Docker
POSTGRES_USER=admin
POSTGRES_PASSWORD=[PASSWORD_DATABASE]
POSTGRES_DB=xi_pplg_a_db

# Backend
# URL koneksi backend ke database PostgreSQL
DATABASE_URL="postgresql://admin:[PASSWORD_DATABASE]@localhost:5432/xi_pplg_a_db?schema=public"

# Port yang digunakan oleh server Express
PORT=3000

# Kunci rahasia untuk membuat dan memverifikasi token JWT
JWT_SECRET=[JWT_SECRET]

# Frontend
# URL backend API yang digunakan oleh frontend Vite
VITE_API_URL="http://localhost:3000"
