# ==========================================
# ENVIRONMENT VARIABLES - KELAS XI PPLG A
# ==========================================
# File ini cuman contoh. rename jadi .env dan isi nilainya.

# 1. Kredensial Database PostgreSQL di Docker
POSTGRES_USER=admin
POSTGRES_PASSWORD=rahasia_database_123
POSTGRES_DB=xi_pplg_a_db

# 2. Koneksi Backend ke Database (Akses via Localhost)
DATABASE_URL="postgresql://admin:rahasia_database_123@localhost:5432/xi_pplg_a_db?schema=public"

# 3. Pengaturan Server Backend (Express)
PORT=3000
JWT_SECRET=kunci_rahasia_untuk_keamanan_login_123

# 4. Pengaturan Frontend (Vite)
VITE_API_URL="http://localhost:3000"
